/*.body {
    font-size: 30px;
}
*/
/*.container {
    background: #e34768;
}

.row {
    background: #e3de4d;
}


.row div:nth-child(odd) {
    background: #4e45c6;
}

.row div:nth-child(even) {
    background: #51c645;
}*/

img {
    width: 300px;
}